In [1]:
# Funktion zum Umwandeln von Maßeinheit "Miles per Gallon" in "Liter auf 100 km"

def mpg_to_l_per_100km(mpg):
    LITERS_PER_GALLON = 3.785411784
    KILOMETERS_PER_MILES = 1.609344
    
    return (100 * LITERS_PER_GALLON) / (KILOMETERS_PER_MILES * mpg)

print(mpg_to_l_per_100km(100))

2.352145833333333

In [2]:
import pandas as pd

#df steht für dataframe
df = pd.read_csv("mpg-dataset.csv")

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
# hier werden mehrere Spalten übergeben, deswegen übertragen in einer Liste
X = df[["cylinders", "horsepower", "weight"]]

In [7]:
y = mpg_to_l_per_100km(df["mpg"])

In [8]:
y

0      13.067477
1      15.680972
2      13.067477
3      14.700911
4      13.836152
         ...
387     8.711651
388     5.345786
389     7.350456
390     8.400521
391     7.587567
Name: mpg, Length: 392, dtype: float64

In [9]:
# Aufgabe: Hier Lineare Regressin trainieren

In [10]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [16]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
model.predict([
    [8,200,2500]
])

array([13.98766161])